<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=NCTools">
           <menu
                id="SWPCApps"
                label="SWPC"
                mnemonic="S">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ncep.viz.ui.personalities.inNCActionSet">
                </reference>
             </visibleWhen>
              <command
                    commandId="gov.noaa.nws.ncep.viz.ui.editedregions"
                    label="Edited Regions"
                    mnemonic="E"
                    style="push">
              <visibleWhen>
                 <reference
                       definitionId="gov.noaa.nws.ncep.viz.ui.personalities.inNCActionSet">
                 </reference>
              </visibleWhen>
              </command>
              </menu>
         </menuContribution>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
           
       <command
          id="gov.noaa.nws.ncep.viz.ui.editedregions"
          name="Edit Regions">
      </command>  
   
   </extension>   
  
   
   <extension
         point="org.eclipse.ui.handlers">
                
       <handler
            class="gov.noaa.nws.ncep.viz.ui.editedregions.EditRegionsDialogHandler"
            commandId="gov.noaa.nws.ncep.viz.ui.editedregions">
       </handler> 
   </extension>
   
</plugin>
